.menu {
    display: flex;
    justify-content: space-between;
    margin: auto 0;
}

.menu__list {
    display: flex;
    font-weight: 500;
    width: 100%;
    position: relative;
}

.menu__item {
    margin-right: 74px;
    display: inline-block;
    position: relative;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item:hover {
    font-weight: 600;
}

.menu__item:hover::after {
    content: url(../../image/Down_Arrow_3_.svg);
    width: 10px;
    height: 4px;
    position: absolute;
    padding: 0 0 0 10px;
}