.section-hero {
    background-image:  linear-gradient(123.33deg, #DF5017 4.42%, rgba(223, 80, 23, 0.440343) 22.08%, rgba(223, 80, 23, 0.19) 35.36%, rgba(223, 80, 23, 0) 52.74%), linear-gradient(90.01deg, #282533 38.15%, #282533 36.15%, rgba(40, 37, 51, 0.739583) 51.21%, rgba(40, 37, 51, 0) 55.99%), url(../../image/virtual-reality-scenes-depicting-global-connection-00528-02\ 1.png);
    background-repeat: no-repeat;
    background-position: right;
}